h1 {
  color: #336699;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

.container {
  max-width: 600px;
}
.completed span {
  text-decoration: line-through;
  color: #6c757d;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.btn-group .active {
  background-color: #0d6efd;
  color: white;
}
