<h2 class="mb-4">My Notes App</h2>

<app-note-form (add)="addNote($event)"></app-note-form>
<app-filter-bar
  [filter]="filter"
  (changeFilter)="setFilter($event)">
</app-filter-bar>

<ul class="list-group">

<app-note-item
  *ngFor="let note of filteredNotes"
  [note]="note"
  [editingId]="editingId"
  [editingText]="editingText"

  (editStart)="startEdit($event)"
  (editTextChange)="editingText = $event"
  (save)="saveEdit($event)"
  (cancel)="cancelEdit()"
  (delete)="deleteNote($event)"
  (toggle)="toggle($event)">
</app-note-item>

</ul>

<p class="mt-3" *ngIf="notes.length === 0">
  No notes yet. Add your first note!
</p>
